@RalewayWebfontPath: "./font";
@RalewayWebfontName: "Raleway";

div {width: 80%; font-family: 'Raleway', sans-serif !important;font-style:normal;font-size: 1.1em}
body {background-color: #FFFFFF; margin: 5% 10% 10% 10%; width: 80%; font-family: 'Raleway', sans-serif !important;font-style:normal;font-size: 1.1em}
p {margin-right: 10%; margin-left: 10%;font-family: 'Raleway', sans-serif !important;font-style:normal;font-size: 1.1em}
table {border: none; margin: 0px 0px 0px 0px; font-family: 'Raleway', sans-serif !important;font-style:normal;font-size: 1.1em}
table td {border-left:solid 1% transparent;font-family: 'Raleway', sans-serif !important;font-style:normal;font-size: 1.1em}
table td:first-child {border-left:0;font-family: 'Raleway', sans-serif !important;font-style:normal;font-size: 1.1em}

@font-face {
    font-family: 'Academicons';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src:url('./academicons.eot');
    src:url('./academicons.eot') format('embedded-opentype'),
        url('./academicons.ttf') format('truetype'),
        url('./academicons.woff') format('woff'),
        url('./academicons.svg') format('svg');
}
.ai {
  font-family: 'Academicons';
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.ai-google-scholar:before {
  content: "\e9d4";
}
.ai-google-scholar-square:before {
  content: "\e9f9";
}
.ai-orcid:before {
  content: "\e9d9";
}
.ai-orcid-square:before {
  content: "\e9c3";
}
.ai-osf:before {
  content: "\e9ef";
}
.ai-osf-square:before {
  content: "\e931";
}

.ai-1x {
  font-size: 1em;
}
.ai-2x {
  font-size: 2em;
}
.ai-3x {
  font-size: 3em;
}
.ai-4x {
  font-size: 4em;
}
.ai-5x {
  font-size: 5em;
}
.ai-6x {
  font-size: 6em;
}
.ai-7x {
  font-size: 7em;
}
.ai-8x {
  font-size: 8em;
}
.ai-9x {
  font-size: 9em;
}
.ai-10x {
  font-size: 10em;
}


